<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ptoba_svoego_vhoda_reg_2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ptoba_svoego_vhoda_reg_2.styles.css" asp-append-version="true" />
</head>
<body>
    @* <header> *@
    @*     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
    @*         <div class="container-fluid"> *@
    @*             <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ptoba_svoego_vhoda_reg_2</a> *@
    @*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
    @*                     aria-expanded="false" aria-label="Toggle navigation"> *@
    @*                 <span class="navbar-toggler-icon"></span> *@
    @*             </button> *@
    @*             <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
    @*                 <ul class="navbar-nav flex-grow-1"> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
    @*                     </li> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*                     </li> *@
    @*                 </ul> *@
    @*             </div> *@
    @*         </div> *@
    @*     </nav> *@
    @* </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="my-footer">
        @*   <div class="container">  *@
       @*    &copy; 2024 - ptoba_svoego_vhoda_reg_2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>  *@
       @* </div>  *@
      
        <div class="niz">
            <a href="https://vk.com/club227752490">
                <img style=" height: 60px; padding: 10px 50px 0px 100px" src="~/image/vk.jpg">
            </a>
            <a href="https://t.me/greencapeglj">
                <img style=" height: 60px; padding-top: 10px" src="~/image/telegram.jpg">
            </a>

            <p style=" float: right; margin-right:70px; margin-top: 20px">
                Адрес: г. Геленджик ул. Ленина д. 1 &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp Номер телефона: 8 (999) 999-99-99  &nbsp;&nbsp;&nbsp;&nbsp
                </p>
        </div>
     </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
