@model ptoba_svoego_vhoda_reg_2.Models.Bron

@{
    ViewData["Title"] = "OforBroni"; // Изменено название
}

<h1>Оформить бронирование</h1>  <!-- Добавлено более понятное название -->

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OforBroni" method="post">
            <!-- Изменено asp-action -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomerId" class="control-label"></label>
                <select asp-for="NomerId" class="form-control" asp-items="ViewBag.NomerId"></select>
                <span asp-validation-for="NomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_zaezd" class="control-label"></label>
                <input asp-for="Data_zaezd" class="form-control" />
                <span asp-validation-for="Data_zaezd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_viezd" class="control-label"></label>
                <input asp-for="Data_viezd" class="form-control" />
                <span asp-validation-for="Data_viezd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stoimost" class="control-label"></label>
                <input asp-for="Stoimost" class="form-control" />
                <span asp-validation-for="Stoimost" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Забронировать" class="btn btn-primary" />  <!-- Более подходящая надпись -->
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>  <!-- Более подходящая надпись -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
